* {
  box-sizing: border-box;
  background-color: #f0f5f9;
}

body {
font-family: 'Montserrat', sans-serif;}

/* Style the header */
header {
  background-color: #f0f5f9;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #52616b;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #f0f5f9;
  padding: 20px;
  font-size: 200;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 20;
  font-size: 500;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f0f5f9;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row {
  content: "";
  display: table;
  clear: both;
  text-align: center;
  width: 100%;
}

.icons {
  padding: 20;
}

.picture {
  align-self: center;
  align-items: center;
  height: 10%;
  width: 10%;
}

/* Style the footer */
footer {
  background-color: #f0f5f9;
  padding: 10px;
  text-align: center;
  color: #52616b;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
